<h3>Consultas</h3>
<div class="container">
  <div class="row"><a [routerLink]="['/consulta/cadastrar']"
    class="btn btn-xs btn-success">
    <span class="glyphicon glyphicon-plus" 
      aria-hidden="true"></span> Novo
 </a>
</div>
 
  <div class="row">
    
      
      <div class="card"  *ngFor="let consulta of consultas">
        <div class="col-md-4" >
        <div class="card-body" >
          <h5 class="card-title">Paciente: {{consulta.paciente?.nome }}</h5>
          
          <h5 class="card-title">Dentista: {{consulta.dentista?.nome }}</h5>
          
          <h5 class="card-title">Data: {{consulta.data}}</h5>

        
          <a [routerLink]="['/consulta/editar', consulta.id]"
            title="Editar" alt="Editar"
            class="btn btn-xs btn-info">
            <span class="glyphicon glyphicon-pencil" 
              aria-hidden="true"></span> Editar
          </a>
          <a href="#" title="Remover" alt="Remover" 
            class="btn btn-xs btn-danger"
            (click)="remover($event, consulta)">
            <span class="glyphicon glyphicon-remove" 
              aria-hidden="true"></span> Remover
          </a>
        </div>
        </div>
      </div>

    </div>
</div>



<p *ngIf="consultas.length==0">Nenhum dentista cadastrado.</p>